@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-normal text-sm bg-gray-100 text-gray-500 bg-gradient-to-b from-indigo-200 via-rose-100 via-10% to-20% to-white bg-fixed;
    }
    p {
        @apply font-normal text-sm text-gray-500;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold text-gray-900 tracking-tight;
    }
    h1 {
        @apply text-xl md:text-2xl xl:text-4xl;
    }
    h2 {
        @apply text-lg  xl:text-xl;
    }
    ul > li {
        @apply font-normal;
    }
    strong {
        @apply font-semibold text-gray-500;
    }
}

@layer components {
    .link {
        @apply font-medium text-indigo-600 hover:text-indigo-700 cursor-pointer inline-flex;
    }
    .menu {
        @apply font-medium text-gray-700 hover:text-indigo-700 cursor-pointer transition duration-200 ease-in-out;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
